<!DOCTYPE html>
<html ng-app="mean">
<head>
	<meta charset="utf-8">
	<title>Mean</title>
  <link rel="icon" href="/img/icon.png">
	<link rel="stylesheet" type="text/css" href="{{url}}/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{url}}/semantic/style.css">
</head>
<br>
<body class="ui container">
	{{{body}}}
</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://localhost:3020/semantic/semantic.min.js"></script>
<script src="http://localhost:3020/semantic/jq.js"></script>
<script type="application/javascript" src="{{url}}/build.js"></script>

</html>
