.large{
	color: #FF0000;
	width: 40px;
}

.dash{
	color: #ECF6CE;
	width: 40px;
}
body{
	background-color: #D8D8D8;
}

footer { 
   position:absolute;
   bottom:0;
   width:100%;
   height:40px; 
   background:#424242;
}